<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboad.css">
    <link rel="stylesheet" href="../static/css/default_layout.css">
</head>
<body>
    <div class="top_nav">
        <div class = "profile_con">
            <a href="/family"><div class = "profile_pic_con">
                <img src="../static/no_profile_pic.png" alt="">
            </div></a>
            <p><%= username %></p>
        </div>
        <div class = "price_con">
            <div class = price_text_con>
                <div id = "price_circle"></div>
                <p>50 000</p>
            </div>
        </div>
    </div>
    <div class = "main_page">
        <div class = "title_top_con">
            <div class = "title_top_con_grid">
                <div class = "title_con_task">
                    <p>Oppdrag</p>
                </div>
                <div class = "title_con_task_btn">
                    <a href="/addtask">Legg til oppdrag</a>
                </div>
            </div>
        </div>

        <div class = "main_task_con">
            <div class = "main_task_con_ext">
                <% tasks.forEach(task => { %>
                    <div class = "task_con">
                        <div class = "img_con">
                            <img src="data:image/jpeg;base64, <%= task.image %>" alt="Task Image">
                        </div>
                        <div class = "info_con">
                            <p><%= task.title %></p>
                            <div class = price_text_con_task>
                                <div id = "price_circle_task"></div>
                                <p><%= task.price %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>

        </div>
    
    </div>
    <div class = "bottom_nav">
        <div class = bottom_button_con>
            <a href="/"><img class = "bottom_button_icon" src="../static/home.png" alt=""></a>
        </div>
        <div class = bottom_button_con>
            <a href="/dashboard"><img class = "bottom_button_icon" src="../static/task.png" alt=""></a>
        </div>
        <div class = bottom_button_con>
            <a href="/ikke_ferdig"><img class = "bottom_button_icon" src="../static/shop.png" alt=""></a>
        </div>
    </div>
</body>
</html>
